<div class="jumbotron">
  <div class="container">
    <h1>Header for Home Page<br> Banner and Marekting</h1>
    <h2>Biltong shoulder jowl, tongue ball tip porchetta<br> spare ribs bacon rump ribeye beef ribs<br> drumstick pork loin.</h2>
  </div>
</div>
<div class="container">
  <h1>Listings</h1>

  <% if user_signed_in? %>
  <%= link_to 'New Listing', new_listing_path, class: "btn btn-link" %>
  <% end %>

  <br>

  <div class="row">
    <% @listings.each do |listing| %>
    <div class="col-md-3 col-sm-4">
      <div class="thumbnail" data-mh="listings">
        <%= link_to image_tag(listing.image.url(:medium)), listing %>
        <div class="caption text-center">
          <h3><%= listing.name %></h3>
          <p><%= number_to_currency(listing.price) %></p>
          <p><%= "Sold By #{listing.user.name}" %></p>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>